@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  font-family: 'Satisfy', cursive;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url('../bc.jpg');
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(180,194,146, 0.3);
}