:root {
  --primary-bg: #736f4e;
  --secondary-bg: #3b3923;
  --primary-color: #d17a22;
  --secondary-color: #4c061d;
}

.app {
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background-color: var(--primary-bg);
}

.grocery-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 2em 0;
}

.grocery-navbar__input {
  width: 90%;
}

.grocery-navbar__input input {
  height: 40px;
  border: 4px solid var(--secondary-bg);
  outline: none;
  transition: .3s ease-out;
}

.grocery-navbar__input input:focus {
  border: 4px solid var(--primary-color);
}

.grocery-navbar__input-amount {
  width: 20%;
  margin-left: 5%;
}

.grocery-navbar__input-name {
  width: 75%;
}

.grocery-navbar__input-filtering {
  width: 100%;
}

.grocery-navbar__btn {
  margin-left: 1em;
}

.grocery-navbar__btn button {
  height: 40px;
  font-size: 26px;
  font-family: serif;
  border: 4px solid var(--secondary-bg);
  transition: .3s ease-out;
}

.grocery-navbar__btn button:hover {
  color: var(--primary-color);
  border: 4px solid var(--primary-color);
  cursor: pointer;
}

.grocery-list {
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.grosery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.grosery-item-bought {
  text-decoration: line-through;
}

.grocery-item__name {
}
